# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Output ansi
OUTPUT_ANSI_ENABLED=

# jwt properties
JWT_SECRET=your_secret_key_here
JWT_EXPIRATION_SECONDS=3600

# Google oauth
GOOGLE_OAUTH_CLIENT_ID=your_client_id_here
GOOGLE_OAUTH_CLIENT_SECRET=your_client_secret_here
GOOGLE_OAUTH2_REDIRECT_URI=http://localhost:3000/oauth2/callback